/* global styles start ========================= */
/* reset */
html *{margin:0;padding:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
/* body general styles */
html, body{color:#666; font:16px/1.5 Verdana,sans-serif,'Segoe UI';animation:bodyAni 1s ease;}
body *::after {
	content: '';
	clear: both;
	display: inherit;
}
/* page loding animation */
@keyframes bodyAni{ from{opacity:0} to{opacity:1}}
/* get the page content to middle of the screen */
.middle{margin:0 auto;width: 85.6%;}
/* h1 to h6 styles */
h1,h2,h3,h4,h5,h6{margin:10px 0;color:#4a4a4a;font-weight:400;font-family:"Segoe UI",sans-serif,Arial}
h1{font-size:36px}h2{font-size:27px;}h3{font-size:24px}h4{font-size:20px;}h5{font-size:18px}h6{font-size:16px}
p {margin-bottom:10px}
img[alt]{text-decoration:underline;background:#0000 !important;}
/* navigation namu styles */
ul{list-style:none}
li#current{border-bottom:2px solid darkorange}
li#current a{color:darkorange !important}
li#current a:before{margin-right:0!important;font-size:32px;line-height:0;position:relative;top:5px}
li a#down_arr,li a#right_arr{position:relative !important}
li a{display:block}
ul li:first-child a{border-left:0 !important}
ul li:last-child a{border-right:0 !important}
li a:hover{color: darkorange}
a:active{color:red}
a:hover{color:tomato}
a:hover:before{color:#00CED1}
a, a:before{-moz-transition:all 0.4s ease,border-bottom-color 0.3s ease;-webkit-transition:all 0.4s ease,border-bottom-color 0.3s ease;-ms-transition:all 0.4s ease,border-bottom-color 0.3s ease;transition:all 0.4s ease,border-bottom-color 0.3s ease;color:darkorange;text-decoration:none}
/* form and button styles */
input,textarea{font-size:16px;font-family:Verdana,'Segoe UI',tahoma;transition:all 0.3s}
.submit_form input,.contact_form input,textarea{padding:6px 4px;border:1px solid #bbb;margin:4px auto;display:block;-webkit-border-radius:2px;border-radius:2px;color:#888}
textarea{height:160px}
.submit_form input:focus,.contact_form input:focus,textarea:focus{border:1px solid #73aee3 !important;-webkit-box-shadow:0 0 3px #73aee3;-moz-box-shadow:0 0 3px #73aee3;-ms-box-shadow:0 0 3px #73aee3;box-shadow:0 0 3px #73aee3}
.contact_form input:focus-within,textarea:focus-within{color:#222}
.submit_form label,.contact_form label, .search_form label{display:block}
.submit_btn,a.btn{background: #ff8916;border:none;transition:0.4s cubic-bezier(.67,.11,.42,1.05);padding:5px 1rem;box-shadow:0px 2px 5px 0px #0005;margin:10px 10px 15px;border-radius:1px;color:white}
.submit_btn,.search_btn,.subs_btn,a.btn{border:none !important;cursor:pointer;font-size: inherit}
.search_form *,.submit_form *,.subs_form *{font-size:1em;border:none;padding:6px 5px}
.search_btn, .subs_btn, .submit_btn{background-color:darkorange}
.search_btn:hover,.subs_btn:hover{color:white;background-color:tomato}
a.btn{border:none;display:inline-block}
a.btn:hover,.submit_btn:hover{background:white;color:#444;box-shadow:0px 5px 10px #0005}
.pos_r{position:relative}
.pos_a{position:absolute}
.pos_f{position:fixed}
.float_l{float:left}
.float_r{float:right}
hr{margin:30px auto 20px;border:none;border-top:1px solid #0002;width:100%}
br {margin-bottom:8px}
.trans{-webkit-transition:all 0.4s;-moz-transition:all .4s;-ms-transition:all .4s;transition:all .4s}
/* dropdown menu's navigator arrows */
#down_arr:before,#right_arr:before{content:"";font-size:0;height:0;width:0;border:4px solid;position:absolute;transform:translate(-50%,-50%)}
ul li a#down_arr:before{border-color:lightcyan transparent transparent transparent;top:94%;left:50%;transition:.3s}
ul li:hover > a#down_arr:before{top:100%;border-top-color:#808080}
.sub_menu1 a#right_arr:before{border-color:transparent transparent transparent lightcyan;top:50%;left:95%;transition:.4s;}
.sub_menu1 li:hover > a#right_arr:before{left:100%;top:50%;border-left-color:#808080}
/* Contact Form Styles */
.contact_form legend{margin:0 5px 3px;padding:0px 3px;text-transform:uppercase;color:darkorange}
.contact_form fieldset{border:1px solid #ddd;border-radius:4px}
/* global styles end ========================= */

#header_area {
	background: #095f8a;
	border-bottom: 3px solid darkorange;
	padding: 25px 0;
	min-height: 70px;
}
.branding h1{
	color: white;
}
.branding span {
	color: darkorange;
}
.header_nav {
	margin-top: 12px;
}
.header_nav li {
	float: left;
}
.header_nav a {
	display: block;
	color: snow;
	padding: 8px 15px;
	line-height: 1.3em;
	text-transform: uppercase;
	letter-spacing: 1px
}
#showcase_area {
	padding: 25px 0;
	background: url(images/showcase-bg.jpg)no-repeat center / cover red;
	min-height: 300px;
	text-align: center;
	border-bottom: 3px solid #ffffff4a;
}
#showcase_area h1 {
	margin: 50px 0 10px;
	color: snow;
	line-height: 1.4em;
	text-shadow: 2px 2px 2px #0008;
	letter-spacing: 0.02em
}
#showcase_area p {
	color: snow;
	text-shadow: 2px 2px 2px #2228;
	letter-spacing: 0.04em
}
#neswletter_area {
	background: #364248;
	padding: 25px 0;
}
#neswletter_area h2 {
	color: white;
	float: left
}
.search_form,.subs_form {
	float: right;
	display: flex;
	border-radius: 2px;
	margin-top: 17px;
	box-shadow: 0px 0px 3px #5555;
	overflow: auto;
}
.search_form input[type=email], .subs_form input[type=email]{
	width: 200px;
}
.search_form input[type=email]:focus,.subs_form input[type=email]:focus {
	width: 240px;
}
#features_area {
	padding: 60px 0;
}
.feature {
	width: 32%;
	text-align: center;
	float: left;
	margin-right: 2%;
}
.feature.graphic {
	margin-right: 0
}
.feature_head {
	min-height: 93px;
}
.feature img {
	width: 70px;
	height: auto
}
.feature h2 {
	line-height: 1.4em;
	margin-bottom: 10px;
}
#footer_area {
	background: #364248;
	padding: 20px 0;
	margin-top: 20px
}
#footer_area .footer_left {
	float: left
}
#footer_area .footer_right {
	float: right
}
#footer_area p {
	color: snow;
}
/* About styles =========== */
#about_us_area {
  margin: 40px 0
}
.about_us_container {
  width: 70%;
  text-align: justify;
  border: 1px solid #0002;
  padding: 20px 12px;
  border-radius: 5px
}
.about_us_container h2 {
  font-size: 32px
}
.sidebar {
  width: 28.5%;
  margin-left: 1.5%;
  padding: 0px 0 30px;
  border: 1px solid #0002;
}
.sidebar h2 {
  background: #0002;
  padding: 6px 12px;
  margin-top: 0;
}
.sidebar ul li a {
  padding:8px 12px;
  color: inherit
}
.sidebar ul li a:hover {
  color: darkorange;
  background: #ddd;
  padding-left: 17px;
}
/* Services styles ========*/
#services_area {
  margin: 25px 0
}
.services {
	border:1px solid #ddd;
	padding: 0 12px 30px;
	width: 70%;
	margin-right: 2%;
	border-radius: 4px;
}
.service_head h2,.contact_form h2 {
	font-size: 32px;
	color: darkorange;
}
.service_body {
	text-align: justify;
}
.service_body img {
	margin:7px 12px 0 0;
	padding: 4px;
	background: #fcb36d;
}
.service_body p {
  display: inline
}
.contact_area {
	width:28%
}
.contact_area h2 span{
	display:block;
	font-size:14px;
	color: #aaa;
	margin-top: -6px;
}
.contact_form {
	margin: auto;
}
.form_dataContainer {
	margin-top: 10px
}
.contact_form label {
	margin-left:2%;
}
.contact_form input, textarea {
	width: 96%;
}
/* Media Queries */
/* Servides styles */
@media (max-width:992px) {
	.services {
		width: 65%;
	}
	.service_head h2, .contact_area h2 {
		font-size: 30px
	}
	.services img {
		width: 160px;
	}
	.contact_area {
		width: 33%
	}
	
}
@media screen and (max-width:768px) {
	.header_nav a {
	padding: 0 10px;
}
	#neswletter_area h2, .submit_form {
    float:none;
		text-align: center;
	}
	.submit_form {
    position:relative;
		margin-top:-6px;
		left:50%;
		transform:translateX(-50%)
	}
/* About */
	.about_us_container {
    width: 100%;
		float: none;
		border-radius: 0
	}
	.sidebar {
		width: 100%;
		margin-top: 25px;
		float: none;
		margin-left: 0;
	}
/* Services  */
	.services, .contact_area {
		float: none;
		width: 100%
	}
	.footer_left, .footer_right {
		float: none;
		width: 100%;
		text-align: center
	}
}
@media screen and (max-width:600px) {
	.branding h3 {
		font-size: 30px;
	}
	.branding, .header_nav {
		float: none;
		text-align: center;
	}
	.header_nav {
		position: relative;
		display: inline-block;
		left: 50%;
		transform: translateX(-50%);
		margin-top: 5px
	}
/* index */
	.feature {
    margin-right: 0;
		float: none;
		width: 100%;
		margin: 0 0 25px
	}
	.feature:last-child {
		margin-bottom: 0
	}
	.feature_head {
		min-height: 80px;
	}
	.feature img {
		width: 60px
	}
	.feature h2 {
		font-size: 30px
	}
}